*.deb filter=lfs diff=lfs merge=lfs -text
*.rpm filter=lfs diff=lfs merge=lfs -text
out/discord-webwrapper-pipewire-linux-x64/discord-webwrapper-pipewire filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
/out/discord-webwrapper-pipewire-linux-x64/LICENSE filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/out/discord-webwrapper-pipewire-linux-x64/chrome-sandbox filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
/out/discord-webwrapper-pipewire-linux-x64/chrome_crashpad_handler filter=lfs diff=lfs merge=lfs -text
/out/discord-webwrapper-pipewire-linux-x64/discord-webwrapper-pipewire filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/out/discord-webwrapper-pipewire-linux-x64/resources/app/LICENSE filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
/out/discord-webwrapper-pipewire-linux-x64/version filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
